In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
import time

In [3]:
cg = CoinGeckoAPI()

In [15]:
data = cg.get_coin_market_chart_by_id(id = "bitcoin",
                                      vs_currency = "usd",
                                      days = "7",
                                      interval = "daily")

###
# :param id:          default is Bitcoin "bitcoin"
# :param vs_currency: default is USD "usd"
# :param days:        the range of days to retireve data for "1", "30", "max", etc.
# :param interval:    the data interval "minutely", "hourly", "daily"
###

In [16]:
data

{'prices': [[1729209600000, 67328.10527002988],
  [1729296000000, 68465.61920668735],
  [1729382400000, 68388.87128965274],
  [1729468800000, 68962.82918045693],
  [1729555200000, 67394.85775735618],
  [1729641600000, 67351.04793512498],
  [1729728000000, 66683.96806542306],
  [1729781464000, 67819.14878213985]],
 'market_caps': [[1729209600000, 1330387728623.8188],
  [1729296000000, 1353541799303.4875],
  [1729382400000, 1351942347611.1997],
  [1729468800000, 1362381684459.9053],
  [1729555200000, 1332326858574.4448],
  [1729641600000, 1331426858508.4004],
  [1729728000000, 1318285437546.2786],
  [1729781464000, 1340068345687.7898]],
 'total_volumes': [[1729209600000, 34512072357.92087],
  [1729296000000, 39984956633.228035],
  [1729382400000, 14110889435.452631],
  [1729468800000, 17253863432.786995],
  [1729555200000, 40485496091.95008],
  [1729641600000, 31398389967.38113],
  [1729728000000, 32676918488.059],
  [1729781464000, 37600668582.80364]]}

In [12]:
type(data)

dict

In [6]:
data["prices"]

[[1729209600000, 67328.10527002988],
 [1729296000000, 68465.61920668735],
 [1729382400000, 68388.87128965274],
 [1729468800000, 68962.82918045693],
 [1729555200000, 67394.85775735618],
 [1729641600000, 67351.04793512498],
 [1729728000000, 66683.96806542306],
 [1729775867000, 67640.53151807871]]

In [7]:
df = pd.DataFrame(data["prices"], columns = ["Timestamp", "Price"])
df.head()

       Timestamp         Price
0  1729209600000  67328.105270
1  1729296000000  68465.619207
2  1729382400000  68388.871290
3  1729468800000  68962.829180
4  1729555200000  67394.857757

In [8]:
df["Date"] = pd.to_datetime(df["Timestamp"], unit="ms")

In [9]:
df.head()

       Timestamp         Price       Date
0  1729209600000  67328.105270 2024-10-18
1  1729296000000  68465.619207 2024-10-19
2  1729382400000  68388.871290 2024-10-20
3  1729468800000  68962.829180 2024-10-21
4  1729555200000  67394.857757 2024-10-22

In [10]:
df.set_index("Date", inplace = True)
df.head()

                Timestamp         Price
Date
2024-10-18  1729209600000  67328.105270
2024-10-19  1729296000000  68465.619207
2024-10-20  1729382400000  68388.871290
2024-10-21  1729468800000  68962.829180
2024-10-22  1729555200000  67394.857757

In [11]:
df

                         Timestamp         Price
Date
2024-10-18 00:00:00  1729209600000  67328.105270
2024-10-19 00:00:00  1729296000000  68465.619207
2024-10-20 00:00:00  1729382400000  68388.871290
2024-10-21 00:00:00  1729468800000  68962.829180
2024-10-22 00:00:00  1729555200000  67394.857757
2024-10-23 00:00:00  1729641600000  67351.047935
2024-10-24 00:00:00  1729728000000  66683.968065
2024-10-24 13:17:47  1729775867000  67640.531518