In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
import time

In [2]:
cg = CoinGeckoAPI()

In [13]:
data = cg.get_coin_market_chart_by_id(id = "bitcoin",
                                      vs_currency = "usd",
                                      days = "10",
                                      interval = "daily")

In [14]:
data

{'prices': [[1728950400000, 66049.99492708022],
  [1729036800000, 66962.21994496793],
  [1729123200000, 67647.54414766871],
  [1729209600000, 67328.10527002988],
  [1729296000000, 68465.61920668735],
  [1729382400000, 68388.87128965274],
  [1729468800000, 68962.82918045693],
  [1729555200000, 67394.85775735618],
  [1729641600000, 67351.04793512498],
  [1729728000000, 66683.96806542306],
  [1729731987000, 67341.3566076549]],
 'market_caps': [[1728950400000, 1306085613997.8015],
  [1729036800000, 1323774576161.621],
  [1729123200000, 1337304399194.887],
  [1729209600000, 1330387728623.8188],
  [1729296000000, 1353541799303.4875],
  [1729382400000, 1351942347611.1997],
  [1729468800000, 1362381684459.9053],
  [1729555200000, 1332326858574.4448],
  [1729641600000, 1331426858508.4004],
  [1729728000000, 1318285437546.2786],
  [1729731987000, 1331807724019.861]],
 'total_volumes': [[1728950400000, 46553796134.14602],
  [1729036800000, 51797932876.82809],
  [1729123200000, 40640495380.19594],
  [1729209600000, 34512072357.92087],
  [1729296000000, 39984956633.228035],
  [1729382400000, 14110889435.452631],
  [1729468800000, 17253863432.786995],
  [1729555200000, 40485496091.95008],
  [1729641600000, 31398389967.38113],
  [1729728000000, 32676918488.059],
  [1729731987000, 30738581435.786194]]}

In [15]:
data["prices"]

[[1728950400000, 66049.99492708022],
 [1729036800000, 66962.21994496793],
 [1729123200000, 67647.54414766871],
 [1729209600000, 67328.10527002988],
 [1729296000000, 68465.61920668735],
 [1729382400000, 68388.87128965274],
 [1729468800000, 68962.82918045693],
 [1729555200000, 67394.85775735618],
 [1729641600000, 67351.04793512498],
 [1729728000000, 66683.96806542306],
 [1729731987000, 67341.3566076549]]

In [16]:
df = pd.DataFrame(data["prices"], columns = ["Timestamp", "Price"])
df.head()

       Timestamp         Price
0  1728950400000  66049.994927
1  1729036800000  66962.219945
2  1729123200000  67647.544148
3  1729209600000  67328.105270
4  1729296000000  68465.619207

In [17]:
df["Date"] = pd.to_datetime(df["Timestamp"], unit="ms")

In [18]:
df.head()

       Timestamp         Price       Date
0  1728950400000  66049.994927 2024-10-15
1  1729036800000  66962.219945 2024-10-16
2  1729123200000  67647.544148 2024-10-17
3  1729209600000  67328.105270 2024-10-18
4  1729296000000  68465.619207 2024-10-19

In [19]:
df.set_index("Date", inplace = True)
df.head()

                Timestamp         Price
Date
2024-10-15  1728950400000  66049.994927
2024-10-16  1729036800000  66962.219945
2024-10-17  1729123200000  67647.544148
2024-10-18  1729209600000  67328.105270
2024-10-19  1729296000000  68465.619207

In [20]:
df

                         Timestamp         Price
Date
2024-10-15 00:00:00  1728950400000  66049.994927
2024-10-16 00:00:00  1729036800000  66962.219945
2024-10-17 00:00:00  1729123200000  67647.544148
2024-10-18 00:00:00  1729209600000  67328.105270
2024-10-19 00:00:00  1729296000000  68465.619207
2024-10-20 00:00:00  1729382400000  68388.871290
2024-10-21 00:00:00  1729468800000  68962.829180
2024-10-22 00:00:00  1729555200000  67394.857757
2024-10-23 00:00:00  1729641600000  67351.047935
2024-10-24 00:00:00  1729728000000  66683.968065
2024-10-24 01:06:27  1729731987000  67341.356608